* {
    text-align: center;
    font-family: "Audiowide", sans-serif;
    flex-direction: column;
    background-color: #e7eef4;
    color: rgb(21, 20, 20);
    margin: 0;
    border-collapse: collapse;
}


/*Estilização dos forms*/
.w3-container {
  padding: 0px 15px;
  margin: 7px 200px;
  box-sizing: border-box;
  text-align: center;
  display: block;
  border: #4f87dc;
  margin: auto;
  border-radius: 5px;
  box-shadow: 10px 7px 17px 10px rgba(50, 50, 50, 0.22);
  width: 50%;
  transition: all 0.3s ease-out;
  margin: 0 auto;
  text-justify: flex;
}

button{
    padding: 8px;
    margin: 8px;
    cursor: pointer;
    opacity: 0.8;
    color: rgb(34, 29, 29);
    border-radius: 5px;
}

/*Estilo fo formulário*/
.w3-input {
    border: 0 none;
    outline: 0;
    cursor: pointer;
    color: rgb(22, 24, 28);
    margin: 5px;
    padding: 5px;
    flex-direction: flex;
    
    max-width: 200px; max-height: 150px; 
    padding: 5px;
    margin: 10px;
    width: 50%;

}

.btn:hover {
    background-color: #4f87dc;
    color: white;
}

.btn:hover{
  background-color: #4f87dc;
  color: rgb(248, 243, 243);
  border-radius: 4px;
  cursor: pointer;  
}

.btn-edit{
  color:rgb(182, 123, 1);
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  

}

h1 {
    margin:0;
    margin-top: 30px;
    padding: 20px;
}

/*CSS DO DADAVACI*/
.dadovaci-container div{
    width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  th:hover {background-color: #3e4545; color: white; cursor: pointer;}
  
  .bold{
      font-weight: bold;
  }

  /*Cor de seleção de links*/
  a:hover{
    color:rgb(182, 123, 1);
    text-decoration: none;
    border: none;
   
  }


  /*CSS DO NAVBAR*/
.placeholder{
    background-color: #3e4545;
    color: #4f87dc;
}
   
/*Margens da navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
/*Alinhamento a esquerda*/
  li {
    float: left;
  }
  
  /*Alinhamento dos li e dos links (a)*/
  li a {
    display: block;
    color: rgb(28, 23, 23);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  /* cor do hover  (black) on hover */
  li a:hover {
    background-color: #111;
  }

.action{
    margin-top: 1em;
    padding: 2rem;
    justify-content: center;
   
}

.actions a{
  margin-right: em;
}


.edith1{
  color: rgb(86%, 15%, 15%);
}

.dadovac-page{
  border-radius: 5px;
  box-shadow: 10px 7px 17px 10px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
  margin: 0 auto;
  text-justify: flex;
}

submit{
  border-radius: 5px;
}

